---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import StickyPlayer from "../Componant/StickyPlayer";
---

<!doctype html>
<html lang='fr'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<link rel='icon' href='/favicon.ico' />
		<meta name='generator' content={Astro.generator} />
		<title>Mangwa Corpus</title>
		<ClientRouter />
	</head>
	<body class="pb-20">
		<slot />
		<div transition:persist="sticky-player">
			<StickyPlayer client:load />
		</div>
	</body>
</html>
